.profile {
  background-color: #1F2A63;
  padding: 16px 10px 15px 12px;
  display: flex;
  flex-direction: column;
  border-radius: 16px 0 0 16px;

  &__taglist {
    align-self: end;
  }

  &__img {
    width: 340px;
    height: 300px;
  }
}
