.wrapper {
  width: 100%;
  height: 100vh;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Karla';
  src: url('../../fonts/karla-regular-webfont.woff2') format('woff2'),
  url('../../fonts/karla-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../../fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/roboto-regular.woff") format("woff"),
  url("../../fonts/roboto-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
